development:
  :account_id: test
  :api_key: test
  :timeout: 1

test:
  :account_id: test
  :api_key: test
  :timeout: 0.01

production:
  :account_id: <%= ENV['TAP_ACCOUNT_ID'] %>
  :api_key: <%= ENV['TAP_API_KEY'] %>
  :timeout: <%= ENV['TAP_TIMEOUT'] %>
